html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}

html,body{
	width:100%;
	height:100%;
	background:#111;
}

.wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* ヘッダーメニュー */
.header-logo {
  position: fixed;
  top: 6.1%;
  left: 5%;
  z-index: 100;
  transition: all .6s;
  opacity: 1;
}

.header-logo h1 a{
  color :#959EA7;
  font-size: 24px;
  font-family: 'YuGothic','Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','Arial',sans-serif;
  font-weight: lighter;
  letter-spacing:1.26px;
}

.header-logo.active{
  opacity: 0;
  transition: all .6s;
}

/* SNSicon */
.sns-icon {
  position: fixed;
  bottom: 6.1%;
  left: 5%;
  z-index: 9999;
  opacity: 1;
  transition: all .6s ease-out;
}
.sns-icon.active {
  position: fixed;
  bottom: 6.1%;
  left: 5%;
  z-index: 9999;
  opacity: 0;
  transition: all .6s ease-out;
}
svg {
  fill: #959EA7;
}
.facebook {
  margin-left: 25px; 
}


/* 弁当メニュー */
#hamburger-menu-icon {
  position: fixed;
  top: 6.1%;
  right: 5%;
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 9999;
  transition: all .6s;
}

#hamburger-menu-icon.active{
  position: fixed;
  top: 6.1%;
  right: 5%;
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 9999;
  transform:translateX(0%) translateY(0%) rotate(45deg);
  transition: all .6s;
}

#hamburger-menu-icon span, #hamburger-menu-icon span:before, #hamburger-menu-icon span:after{
  display: block;
  position: absolute;
  width: 0;
  transition: all .6s;
  padding: 0px;
  right: 0px;
  border: solid 3px #959EA7;
  border-radius: 50%;
  display: block;
  content: '';
  cursor: pointer;
}

#hamburger-menu-icon span:nth-child(1) {
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}
#hamburger-menu-icon span:nth-child(1)::before {
  top: -3px;
  right: 9px;
}
#hamburger-menu-icon span:nth-child(1)::after {
  top: -3px;
  left: 9px;
}

#hamburger-menu-icon span:nth-child(2) {
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
}
#hamburger-menu-icon span:nth-child(2)::before {
  top: -3px;
  right: 9px;
}
#hamburger-menu-icon span:nth-child(2)::after {
  top: -3px;
  left: 9px;
}
#hamburger-menu-icon span:nth-child(3) {
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
}#hamburger-menu-icon span:nth-child(3)::before {
  top: -3px;
  right: 9px;
}
#hamburger-menu-icon span:nth-child(3)::after {
  top: -3px;
  left: 9px;
}

#hamburger-menu-icon:hover span:nth-child(1) {
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  transition: all .6s;
}
#hamburger-menu-icon:hover span:nth-child(1)::before {
  top: 9px;
  right: 9px;
  transition: all .6s;
}
#hamburger-menu-icon:hover span:nth-child(1)::after {
  top: -3px;
  left: -3px;
  transition: all .6s;
}
#hamburger-menu-icon:hover span:nth-child(2) {
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  transition: all .6s;
}
#hamburger-menu-icon:hover span:nth-child(2)::before {
  top: -3px;
  right: 9px;
  transition: all .6s;
}
#hamburger-menu-icon:hover span:nth-child(2)::after {
  top: -3px;
  left: 9px;
  transition: all .6s;
}
#hamburger-menu-icon:hover span:nth-child(3) {
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
}
#hamburger-menu-icon:hover span:nth-child(3)::before {
  top: -3px;
  right: -3px;
  transition: all .6s;
}
#hamburger-menu-icon:hover span:nth-child(3)::after {
  top: -15px;
  left: 9px;
  transition: all .6s;
}

#hamburger-menu-icon.active span, #hamburger-menu-icon.active span:before, #hamburger-menu-icon.active span:after{
  display: block;
  position: absolute;
  width: 0;
  transition: all .6s;
  padding: 0px;
  right: 0px;
  border: solid 3px #000;
  border-radius: 50%;
  display: block;
  content: '';
  cursor: pointer;
}

#hamburger-menu-icon.active span:nth-child(1) {
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  transition: all .6s;
}
#hamburger-menu-icon.active  span:nth-child(1)::before {
  top: -3px;
  right: -3px;
  transition: all .6s;
}
#hamburger-menu-icon.active span:nth-child(1)::after {
  top: 9px;
  left: 9px;
  transition: all .6s;
}
#hamburger-menu-icon.active span:nth-child(2) {
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  transition: all .6s;
}
#hamburger-menu-icon.active span:nth-child(2)::before {
  top: -3px;
  right: 9px;
  transition: all .6s;
}
#hamburger-menu-icon.active span:nth-child(2)::after {
  top: -3px;
  left: 9px;
  transition: all .6s;
}
#hamburger-menu-icon.active span:nth-child(3) {
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
}
#hamburger-menu-icon.active span:nth-child(3)::before {
  top: -15px;
  right: 9px;
  transition: all .6s;
}
#hamburger-menu-icon.active span:nth-child(3)::after {
  top: -3px;
  left: -3px;
  transition: all .6s;
}

.hamburger-menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  transform:translateX(100%) translateY(0%) rotate(0deg);
  transition: all 2s;
  color: #000;
  z-index: 999;
  text-align: center;
}

.hamburger-menu.active {
  transform:translateX(0%) translateY(0%) rotate(0deg);
  right: 0%;
  top: 0%;
  transition: all 2s;
}

.hamburger-menu-icon-nav li a {
  color: #111;
  font-size: 3rem;
  font-family: 'YuGothic','Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','Arial',sans-serif;
  font-weight: lighter;
  letter-spacing:1.26px;
}

.nav_li1 {
  transition: all 1s;
  transform:translateX(100%) translateY(0%) rotate(0deg);
}
.nav_li2 {
  transition: all 1.2s;
  transform:translateX(100%) translateY(0%) rotate(0deg);
}
.nav_li3 {
  transition: all 1.4s;
  transform:translateX(100%) translateY(0%) rotate(0deg);
}
.nav_li4 {
  transition: all 1.6s;
  transform:translateX(100%) translateY(0%) rotate(0deg);
}
.nav_li5 {
  transition: all 1.8s;
  transform:translateX(100%) translateY(0%) rotate(0deg);
}

.hamburger-menu.active .nav_li1 {
  transition: all 1s;
  transform:translateX(0%) translateY(0%) rotate(0deg);
}
.hamburger-menu.active .nav_li2 {
  transition: all 1.2s;
  transform:translateX(0%) translateY(0%) rotate(0deg);
}
.hamburger-menu.active .nav_li3 {
  transition: all 1.4s;
  transform:translateX(0%) translateY(0%) rotate(0deg);
}
.hamburger-menu.active .nav_li4 {
  transition: all 1.6s;
  transform:translateX(0%) translateY(0%) rotate(0deg);
}
.hamburger-menu.active .nav_li5 {
  transition: all 1.8s;
  transform:translateX(0%) translateY(0%) rotate(0deg);
}

/* 開いた時の要素(白） */
#bg-menu {
  content: "";
  width: 3000px;
  height: 3000px;
  margin-right: -1500px;
  margin-top: -1500px;
  top: 0px;
  right: 0px;
  display: block;
  position: fixed;
  background: #111;
  opacity: 0;
  border-radius: 50%;
  transition: all 1s ease-out;
  backface-visibility: hidden;
  -webkit-transform: scale(.02);
  transform: scale(.02);
}

#bg-menu.active {
  top: 25%;
  right: 25%;
  background: #fff;
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: all 1s ease-out;
  opacity: 1;
  z-index: 100;
}


input{
  -webkit-user-select:auto;
}

#company-name{
  position: relative;
  z-index: 5000;
  color:white;
  height: 22px;
  border-style: none;
  background-color: #101010;
  border-bottom: 1px solid #707070;
  width: 595px;
}
::placeholder{
  font-size: 1.5em;
}
#company-names{
  position: relative;
  z-index: 5000;
  color:white;
  height: 17px;
  border-style: none;
  background-color: #101010;
  border-bottom: 1px solid #707070;
  width: 270px;
}


.careful{
  color: #707070;
}

#submit-button{
  position: relative;
  z-index: 50000;
  margin-top: 80px;
  margin-left: 75px;
  margin-bottom: 25px;
  font-size: 20px;
  width: 250px;
  height: 55px;
  border: 1px solid #ffffff;
  background-color:transparent;
  color: #fff;

}

.Sente-contact{
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

#contact {
  position: relative;
  width: 100vw;
  height: 100vh;
}
#hoge5 {
  z-index: 0;
  position: fixed;
  width: 50%;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
#contact-form{
  z-index: 500;
}
.title{
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translateY(-55%) translateX(-50%);
  color: #fff;
  font-size: 80px;
  font-family: 'YuGothic','Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','Arial',sans-serif;
  font-weight: bold;
  letter-spacing:1.26px;
}


.sbtitle{
  width: 40%;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateY(-47%) translateX(-50%);
  color: #fff;
  font-size: 14px;
  font-family: 'YuGothic','Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','Arial',sans-serif;
  font-weight: lighter;
  line-height: 2;
  letter-spacing:1.26px;
  text-align: center;
}

.clear-flex dt{
  float: left;
  width: 200px;
  clear: left;
  margin-bottom:50px;
}

.clear-flex dd{
  float: left;
  max-width: 800px;
}

.clear-flex{
  width: 800px;
margin: 0 auto;
}

/* ボタン表示 */
.clear-flex-button{
  margin: 0 auto;
  width: 800px;
}

p{
  text-align: center;
  color: #fff;
}

/* フッター表示 */
footer{
  text-align: center;
  margin-top: 200px;
  margin-bottom: 40px;
}
small{
  color: #fff;
  font-size: 5px;

}


